html, body {
    background: #fff;
}

.pusher {
    padding-top: 76px;
}

#logout-btn,
#admin-btn,
#contact-btn {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

#username {
    font-weight: bold;
}

.debt-image {
    height: 200px;
}


#new-debt-btn {
    font-weight: bold;
    margin: auto;
    margin-top: 65%;
    display: block;
}

.wrapper {

}

.centered-row {
    text-align: center;
}

#account-badge,
#personal-badge,
#activity-badge,
#debts-badge {
    display: inline-block;
    margin: 0;
    margin-left: 4px;
}

#account-badge,
#personal-badge {
    background: #fff;
}

.tabhead {
    font-size: 16px;
    line-height: 24px;
}

.avatar {
    height: 60px !important;
    width: 60px !important;
}

.tab.segment {
    height: 100%;
}

.pad10 { padding: 10px;}

.feed {
    margin-left: 20px !important;
}

#chg-avatar-btn {
    margin: auto;
    display: block;
    pointer-events: none;
}

#chg-avatar-label {
    display: block;
}

/*
 * FILE UPLOADS
 */

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.2rem;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {

}

.inputfile + label {
    cursor: pointer;
    line-height: 1.2rem;
    font-size: 1.2rem;
}

.inputfile + label img {
    height: 1.2rem;
}

/*
 *
 */
.spin {
    -webkit-transform-origin: 50% 58%;
    transform-origin:50% 58%;
    -ms-transform-origin:50% 58%; /* IE 9 */
    -webkit-animation: spin .2s infinite linear;
    -moz-animation: spin .2s infinite linear;
    -o-animation: spin .2s infinite linear;
    animation: spin .2s infinite linear;
}

#sidebar-btn {
    display: none;
    cursor: pointer;
}

#sidebar-btn i {
    margin-top: 8px;
    vertical-align: middle;
    font-size: 1rem;
    display: inline-block;
}

.phone #admin-btn,
.phone #contact-btn,
.phone #desktop-mnu {
    display: none;
}
.phone #sidebar-btn {
    display: inline-block;
}

#username {
    display: inline-block;
    margin-left: 5px;
    font-weight: normal;
}

.appname {
    display: inline-block;
    font-size: 2rem;
    float: right;
}

.phone .avatar {
    width: 30px!important;
    height: 30px!important;
}
.phone .username {
    font-size: 1rem!important;
}
.phone .appname {
    font-size: 1rem!important;
}

.ui.inverted.menu .item:before, .ui.vertical.inverted.menu .item:before {
    background: none;
}

.phone .pusher {
    padding-top: 56px;
}

.hdrbtn {
    margin-bottom: 1px!important;
    margin-top: 10px!important;
}

.tab {
    padding-top: 10px;
}