html, body {
    margin: 0;
    background: #fff;
    height: 100%;
    font-family: "Hind";
    font-size: 14px;
}
a {
    text-decoration: none;
    color: inherit;
}
.intro-wrapper {
    position: relative;
    min-height: 336px;
}

.intro {
    text-align: center;
    font-family: "Play";
    font-size: 6rem;
    color: #eee;
    font-weight: bold;
}
.intro span {
    font-size: 3rem;
    font-weight: normal;
}

.intro-btn {
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: 2px solid #eee;
    color: #eeeeee;
    font-size: 1.8rem;
    padding: 0.8rem;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-weight: 100;
    font-family: "Play";
    text-decoration: none;
    margin-top: 1rem;
}

.round-btn {
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: 1px solid #eee;
    color: #eeeeee;
    font-size: 1.5rem;
    padding: 0.8rem;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-weight: 100;
    font-family: "Hind";
    text-decoration: none;
}

.block {
    width: 90%;
    margin: auto;
}

.heading {
    padding-top: 5rem;
}

.block h1 {
    font-family: "Play";
    font-size: 2.5rem;
    color: #222;
    margin-bottom: 2rem;
    text-align: center;
    letter-spacing: 0.1rem;
}

.left-col h2,
.right-col h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
    text-align: center;
    padding: 0;
    margin: 0;
    padding: 2rem;
    font-weight: bold;
    color: rgb(36,53,145);
}

.subcontent {
    font-size: 1.4rem;
}

.subcontent .left-col {
    float: left;
    width: 50%;

}

.subcontent .right-col {
    float: right;
    width: 50%;
}

.clr {
    clear: both;
}

.right-col p,
.left-col p {
    font-size: 1.2rem;
    padding: 0.2rem;
    margin: auto;
    width: 80%;
}

#content {
    color: #555;
    margin-top: 3rem;
}

#footer {
    background: #0f0f0f;
    padding: 2rem;
    color: #eee;
    min-height: 5rem;
}

.footer-left {
    width: 33%;
    float: left;
}

.footer-middle {
    width: 33%;
    float: left;
}

.footer-right {
    width: 33%;
    float: right;
}

.footer-head {
    color: #aaa;
    font-size: 1.2rem;
}

.footer-text {
    color: #eee;
    font-size: 1rem;
}

#footer p {
    margin: 0;
}
.subcontent {
    width: 60%;
    margin: auto;
    font-family: "Hind";
    font-sixe: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.full-row {
    width: 100%;
}
.left-full-col {
    width: 50%;
    float: left;
    overflow: hidden;
}

.right-full-col {
    width: 50%;
    float: right;
    overflow: hidden;
}

.left-full-col h1,
.right-full-col h1 {
    color: #eee;
    font-family: "Play";
    font-size: 3rem;
    text-align: center;
}

.left-full-col p,
.right-full-col p {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1rem;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    color: #eee;
    border-bottom: 1px solid transparent;
    border-color: transparent;
    z-index: 999;
    font-family: "Play";
    -webkit-transition: border 0.2s, background 0.2s;
    transition: border 0.2s, background 0.2s;
}

#header.header-white {
    background: rgba(255,255,255,0.9);
    border-color: #ddd;
    color: #333;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

.third-col-left {
    width: 33%;
    float: left;
    padding: 0;
    font-size: 1.2rem;
    text-align: center;
    color: #555;
}

.third-col-middle {
    width: 33%;
    float: left;
    padding: 0;
    margin-left: 0.5%;
    margin-right: 0.5%;
    font-size: 1.2rem;
    text-align: center;
    color: #555;
}

.third-col-right {
    width: 33%;
    float: right;
    padding: 0;
    font-size: 1.2rem;
    text-align: center;
    color: #555;
}

.third-col-left p,
.third-col-middle p,
.third-col-right p {
    padding: 2rem;
}

.third-col-left h2,
.third-col-middle h2,
.third-col-right h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
    text-align: center;
    padding: 0;
    margin: 0;
    padding: 1rem;
    font-weight: bold;
    color: rgb(36,53,145);
}

.rounded-image {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin: auto;
    background-position: 50% 50%;
    background-size: auto 100%;
    border: 1px solid #ddd;
    opacity: 0.8;
    background-repeat: no-repeat;
}

.cognitive-computing-bg {
    background-image: url('https://s3-eu-west-1.amazonaws.com/fm-debtorhero/assets/images/community.jpg');
}

.machine-learning-bg {
    background-image: url('https://s3-eu-west-1.amazonaws.com/fm-debtorhero/assets/images/negotiation.jpg');
}

.predictive-api-bg {
    background-image: url('https://s3-eu-west-1.amazonaws.com/fm-debtorhero/assets/images/discount.jpg');
}

.homelink {
    font-size: 2rem;
}

.menulinks {
    font-size: 1.5rem;
}

.project-row {
    min-height: 25vw;
    position: relative;
    font-size: 4vw;
}

.full-row .project-col-float-right {
    float: right;
    width: 50%;
}

.full-row .project-col-abs-left {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
}

.full-row .project-col-float-left {
    float: left;
    width: 50%;
}

.full-row .project-col-abs-right {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
}

.project-col-text h1 {
    font-size: 0.6em;
    padding-left: 10px;
    padding-right: 10px;
}

.project-col-text p {
    margin-top: 2em;
    margin-bottom: 0;
    font-size: 0.5em;
}

.project-button {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0.3em;
    display: none;
}

.full-row .project-col-float-left .project-button {
    width: 50%;
    left: -50%;
}

.project-button button {
    font-size: 0.4em;
    padding: 0.5em;
    display: inline-block;
    min-width: 100px;
}

#careers {
    margin-bottom: 5rem;
}
.career-subcontent {
    width: 60%;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin: auto;
}

.career-subcontent span {
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

input[type="text"],
input[type="password"],
input[type="email"]{
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    outline: none;
}

.career-form ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.career-form li
{
    padding: 0.5rem;
}

.career-form {
    width: 75%;
    margin: auto;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="text"].focus,
input[type="password"].focus,
input[type="email"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.2rem;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {

}

.inputfile + label {
    cursor: pointer;
    line-height: 1.2rem;
    font-size: 1.2rem;
}

.inputfile + label img {
    height: 1.2rem;
}

.career-form select {
    border: solid 1px #dcdcdc;
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    appearance:none;
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
    padding: 10px;
    outline: none;
    display: inline-block;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    color: #9e9e9e;
}
.career-form select option {
    padding: 10px;
}

#notification {
    height: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-size: 3rem;
    text-align: center;
    line-height: 6rem;
    vertical-align: middle;
    z-index: 1234567;
}

.notification-success {
    background: rgba(30,143,67,0.8);
}

.notification-error {
    background: rgba(208,93,93,0.8);
}

.notification-info {
    background: rgba(47, 118, 143, 0.8);
}

@media screen and (max-device-width: 1000px) {
    html, body {
        font-size: 14px;
    }

    .phone #header {
        height: 3rem;
    }

    .phone .subcontent {
        width: 80%;
    }
    .phone .subcontent .left-col,
    .phone .subcontent .right-col {
        width: 100%;
    }

    .phone .homelink {
        font-size: 1.1rem;
    }

    .phone .menulinks {
        font-size: 0.9rem;
    }

    .phone .intro {
        font-size: 1.9rem;
    }
    .phone .intro span {
        font-size: 1.4rem;
    }

    .tablet .intro {
        font-size: 3rem;
    }
    .tablet .intro span {
        font-size: 2rem;
    }
    .tablet .intro-btn {
        display: inline-block;
        margin-top: 2rem;
    }

    .phone .intro-btn {
        display: inline-block;
        margin-top: 2rem;
        font-size: 1rem;
        padding: 0.5rem;
    }

    .phone #content {
        margin-top: 1rem;
    }

    .phone .heading {
        padding-top: 1.5rem;
    }

    .phone .block h1 {
        font-size: 1.5rem;
    }

    .phone .subcontent {
        font-size: 1.2rem;
    }

    .phone .rounded-image {
        width: 5rem;
        height: 5rem;
    }

    .phone .third-col-left h2,
    .phone .third-col-middle h2,
    .phone .third-col-right h2 {
        font-size: 1.3rem;
    }

    .phone .third-col-left,
    .phone .third-col-middle,
    .phone .third-col-right {
        width: 80%;
        float: none;
        margin: auto;
    }

    .phone .third-col-left p,
    .phone .third-col-middle p,
    .phone .third-col-right p {
        padding: 1rem;
        font-size: 1.2rem;
    }

    .phone .project-col-img {
        /*display: none*/;
    }

    .phone .project-col-text {
        float: left;
    }

    .phone .full-row .project-col-abs-right {
        float: left;
        position: relative;
        left: 0;
    }

    .phone .phone-dark {
        color: #eee !important;
        border-color: #eee !important;
        background: rgb(27,68,82) !important;
    }

    .phone .phone-light {
        color: rgb(27,68,82) !important;
        border-color: rgb(27,68,82) !important;
        background: #eee !important;
    }

    .phone .full-row .left-full-col,
    .phone .full-row .right-full-col {
        position: relative;
        float: none;
        width: 100%;
        text-align: center;
    }

    .phone .project-button button {
        font-size: 1rem;
        margin-top: 1rem;
        min-width: 100px;
        display: none;
    }

    .phone .project-col-text h1 {
        font-size: 2rem;
        padding-left: 10px;
        padding-right: 10px;
    }

    .phone .project-col-text p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .phone .left-col p,
    .phone .right-col p {
        font-size: 1.2rem;
    }

    .phone .third-col-left h2,
    .phone .third-col-middle h2,
    .phone .third-col-right h2 {
        font-size: 2rem;
    }

    .phone .career-subcontent {
        width: 80%;
        font-size: 1.2rem;
        line-height: 1.2rem;
    }

    .phone .career-subcontent span {
        display: inline-block;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }

    .phone .career-form {
        width: 80%;
        margin: auto;
        padding-right: 5%;
    }

    .phone .footer-head {
        font-size: 0.8rem;
    }

    .phone .footer-text {
        font-size: 0.6rem;
    }

    .phone #notification {
        font-size: 1.1rem;
    }
}

#video-wrapper {
    position: relative;
    width: 100%;
    max-height: 100%;
    background: url('https://s3-eu-west-1.amazonaws.com/fm-debtorhero/assets/images/happyfamily_1.jpg');
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
}
video {
    width: 100%;
    height: auto;
}
#video-fallback-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('https://s3-eu-west-1.amazonaws.com/fm-debtorhero/assets/images/happyfamily_1.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
}

.intro-wrapper {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
}

.desktop #video-fallback-wrapper { display: none; }
.phone #video-wrapper { display: none; }
.tablet #video-wrapper { display: none; }

.bounce {
    position:fixed;
    right:1%;
    bottom:0;
    margin-top:-25px;
    margin-left:-25px;
    height:20px;
    width:20px;
    background-size: cover;
    background-image: url('https://s3-eu-west-1.amazonaws.com/fm-debtorhero/assets/images/downarrow.png');
    -webkit-animation:bounce 1s infinite;
    display: none;
    cursor: pointer;
}

@-webkit-keyframes bounce {
    0%       { bottom:5px; }
    25%, 75% { bottom:15px; }
    50%      { bottom:20px; }
    100%     {bottom:0;}
}

.input-error {
    border: 1px solid rgba(237,45,45,0.8) !important;
    background: rgba(237, 45, 45, 0.07);
}

.career-form {
    position: relative;
}

#signupform {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

#passwordform {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: none;
}


.modal-active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block !important;
    background: rgba(0,0,0,0.9);
    z-index: 999999;
}

#signin-modal {
    display: none;
}

#signin-controls {
    text-align: center;
}

#signin-controls-box {
    padding: 60px;
    margin: auto;
    width: 60%;
    max-width: 400px;
}

.signin-input {
    outline: 0;
    padding: 3px;
    font-family: "Play";
    font-size: 1.2rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(250,250,250,0.9);
    color: rgba(250,250,250,0.9);
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
}

/*
#signin-submit-btn {
    outline: 0;
    padding: 10px;
    border: 2px solid rgba(250,250,250,0.9);
    border-radius: 30px;
    color: rgba(250,250,250,0.9);
    background: transparent;
    cursor: pointer;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    font-weight: bold;
    font-size: 1.2rem;
}

#signin-submit-btn:hover {
    background: rgba(250,250,250,0.9);
    border-color: transparent;
    color: #333;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}
*/
.noscroll { overflow: hidden; }

.input-signin-error {
    color: rgba(255,20,20,0.9);
    border-color: rgba(255,20,20,0.9);
}

#accept-terms {
    display:none;
}
#accept-terms + label {
    font-family: "Hind";
    font-size: 1.2rem;
}
#accept-terms + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}
#accept-terms:checked + label span {
    background:url(../images/check_radio_sheet.png) -19px top no-repeat;
}

/*
#terms-modal {
    display: none;
    overflow-y: auto;
}

#terms-controls {
    text-align: center;
}

#terms-controls-box {
    margin: auto;
    width: 60%;
    max-width: 800px;
    color: rgba(255,255,255,0.9);
    font-size: 1.3rem;
    padding: 10px;
}


#terms-close-btn {
    outline: 0;
    padding: 10px;
    border: 2px solid rgba(250,250,250,0.9);
    border-radius: 30px;
    color: rgba(250,250,250,0.9);
    background: transparent;
    cursor: pointer;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#terms-close-btn:hover {
    background: rgba(250,250,250,0.9);
    border-color: transparent;
    color: #333;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}
*/


input:required{ background: #fff url('https://s3-eu-west-1.amazonaws.com/fm-debtorhero/assets/images/required.png') no-repeat right top; }
div.hint{
    padding: 1rem 0.1rem;
    font-size: 1rem;
    color: #999;
}
.pswd-very-weak{ background: #da9a9a url(../images/pwd-very-weak.png) no-repeat right center !important;}
.pswd-weak{ background: #e2c3a1 url(../images/pwd-weak.png) no-repeat right center !important;}
.pswd-medium{ background: #e2dea6 url(../images/pwd-medium.png) no-repeat right center !important;}
.pswd-strong{ background: #ceeab6 url(../images/pwd-strong.png) no-repeat right center !important;}


/** MODAL WINDOW **/
.modal-window{
    }

    .modal-content{
        position: fixed;
        top: 15%;
        left: 15%;
        right: 15%;
        background: #fff;
        max-height: 80rem;
        border: none;
        border-radius: 1rem;
        padding: 2rem;
        z-index: 123456;
        }


    .modal-header{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        height: 2rem;
        }

        .modal-header h1{
            display: block;
            font-size: 2rem;
            margin: 0;
            padding: 0;
            text-align: left;
            color: #08c;
            }
            .phone .modal-header h1{
                font-size: 1.2rem;
            }

    .modal-text{
        margin: 1.5rem 0;
        line-height: 2rem;
        font-size: 1.2rem;
        max-height: 39rem;
        overflow-y: auto;
        }
        .modal-text a{
            color: #08c;
            text-decoration: underline;
        }
        .phone .modal-text{
            margin: 0;
            font-size: 1rem;
            line-height: 1.5rem;
            max-height: 18rem;
        }


    .modal-controls{
        text-align: center;
    }

    .modal-controls button:first-of-type{
        margin: 0;
    }

    .modal-controls button:disabled{
        border: 2px solid rgba(0,0,0,0.1);
        color: rgba(0,0,0,0.2);
    }

    .modal-controls button{
        display: inline-block;
        outline: 0;
        padding: 10px;
        border: 2px solid rgba(0,0,0,0.6);
        border-radius: 30px;
        color: rgba(0,0,0,0.6);
        background: transparent;
        cursor: pointer;
        -webkit-transition: background 0.2s;
        transition: background 0.2s;
        font-weight: bold;
        font-size: 1.2rem;
        margin: 0 0 0 2rem;
        }

        .modal-controls button:hover:enabled{
            background: rgba(0,0,0,0.6);
            color: #fff;
            -webkit-transition: background 0.2s;
            transition: background 0.2s;
        }

        .phone .modal-controls button{
            font-size: 1rem;
            display: block;
            width: 100%;
            margin: 1rem 0 0 0;
        }


#terms-modal{ display: none; }

button.submit{
    border: 2px solid #08c;
    color: #08c;
    }
    button.submit:hover{
        border: 2px solid #08c;
        color: #fff;
        background: #08c !important;
        }


.s1rem{ height: 1.5rem; overflow: hidden;}


.phone .autoHeight{
    height: auto !important;
}


#blackOverlay{
    display: none;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    z-index: 12345;
}

#loading{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff url('../images/loading.gif') no-repeat center center;
    opacity: .8;
    z-index: 12345678;
    display: none;
    }
